model/v_2030_links_G1/results/
model/v_2030_links_G2/results/
model/v_2030_links_G3/results/

model/v_2030_local/results/
model/v_2030_local_nac/results/

model/v_2040_links_G1/results/
model/v_2040_links_G2/results/
model/v_2040_links_G3/results/

model/v_2040_local/results/
model/v_2040_local_nac/results/

