model/v_2030_links_G1/results/
model/v_2030_links_G2/results/
model/v_2030_links_G3/results/

model/v_2030_local/results/
model/v_2030_local_nac/results/

model/v_2040_links_G1/results/
model/v_2040_links_G2/results/
model/v_2040_links_G3/results/

model/v_2040_local/results/
model/v_2040_local_nac/results/

model/v_2030_links_G2/graphics/v_2030_links_G2_3MAA_10p_plot_2D_MAA.pdf
model/v_2040_links_G2/graphics/v_2040_links_G2_3MAA_10p_plot_2D_MAA.pdf
model/v_2040_links_G2/graphics/v_2040_links_G2_3MAA_10p_plot_3D_MAA.pdf
